@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    We are LORMS. We are located on the picturess, beutiful shores of Lake Simcoe. We strive to make all guests feel safe, relaxed and accomodated through our wonderful
    staff, exciting ammenidies, and luxourious website. Our staff will provide excellent customer service with amazing attention to detail throughout your stay. The LORMS
    web service allows you to both reserve a room for your stay and a dining table for your eating experience. The resort offers 100 rooms and 20 suites, 30 of the rooms and 10
    of the suites face Lake Simcoe. A typical room contains 2 queen sized beds or 1 king size bed. We offer a variety of ammeneties, all of which can be viewed, simply by
    navigating to the home page. There are different reservation packages with some discount. These packages will be changed from time to time. For examples, some package
    includes breakfast, some package just for special holidays, etc.
</p>

<div>
    <img src="~/img/lorms.jpg" alt="LORMS" class="center">
</div>