@model WaterResort.Models.Room

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QueenBeds" class="control-label"></label>
                <input asp-for="QueenBeds" class="form-control" />
                <span asp-validation-for="QueenBeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KingBeds" class="control-label"></label>
                <input asp-for="KingBeds" class="form-control" />
                <span asp-validation-for="KingBeds" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reserved" /> @Html.DisplayNameFor(model => model.Reserved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cleaned" /> @Html.DisplayNameFor(model => model.Cleaned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LakeFacing" /> @Html.DisplayNameFor(model => model.LakeFacing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Suite" /> @Html.DisplayNameFor(model => model.Suite)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
